body
	font-size: 12px
	font-family: Arial,sans-serif
	line-height: 1.4
	color: $dblue
	background: $white
	min-width: 1000px
	+vp

=wrap
	max-width: 1366px
	margin-left: auto
	margin-right: auto
	padding-left: 20px
	padding-right: 20px
	+box
	+r(wide)
		padding-left: 40px
		padding-right: 40px
.container
	+wrap

=h
	font-size: 36px
	text-transform: uppercase
	+vp_b

=h2
	font-size: 18px
	text-transform: uppercase
	+vp_b
	text-align: center
.title
	+h2

=h-border
	+sub
	&:after
		display: block
		width: 145px
		height: 2px
		content: ""
		margin: 2em auto
		background: $dblue

=sub
	font-size: 12px
	text-transform: uppercase
	+pfbeausanspro

.title_cw
	+vp_b
	font-size: 36px
	text-transform: uppercase
	text-align: center
	margin-bottom: 1em

.cw-logo
	position: relative
	display: block
	margin-left: auto
	margin-right: auto
	margin-bottom: 30px
	+s(cw)
	content: ""

.browseupdate
	margin: 0.2em 0
	background: #ccc
	color: #000
	padding: 0.2em 0
	text-align: center

.main
	padding-top: 20px

// preloader
.loader
	background: #fff url('../img/loader.gif') no-repeat center center
	width: 100%
	height: 100%
	position: fixed
	top: 0
	left: 0

// prev next
.prev, .next
	width: 50px
	height: 50px
	+border-radius(50%)
	background: $dblue
	+hidetext
	cursor: pointer
	+transition(all .2s linear)
	&:before
		position: absolute
		top: 50%
		margin-top: -12px
		left: 50%
		content: ""
		+s(arrow)
	&:hover
		width: 65px
		height: 65px
		background: $blue
.prev
	&:before
		margin-left: -9px
		+rotate(180)
.next
	&:before
		margin-left: -5px

// overlay
.overlay
	position: absolute
	background: #1b1b1b
	+opacity(0)
	z-index: -1
	span
		display: none
	&.is-open
		+opacity(0.4)
		z-index: 1000
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
	&.is-open-popup
		z-index: 1020
	&.is-video-open
		// +transition(all .5s linear)
		position: fixed
		right: 40px
		top: 40px
		width: 50px
		height: 50px
		background: $dblue
		+border-radius(50%)
		border: 1px solid #fff
		+opacity(1)
		z-index: 1200
		cursor: pointer
		span
			+s(close)
			display: block
			position: absolute
			top: 50%
			margin-top: -13px
			left: 50%
			margin-left: -13px
			content: ""
			+hidetext

// language
.language
	li
		display: inline-block
		margin-left: 20px
		+pfbeausanspro
		&:first-child
			margin-left: 0
		&.is-active
			a
				color: $blue
				border-bottom: 2px solid $blue
	a
		color: $dblue
		text-decoration: none
		text-transform: uppercase
		height: 20px
		line-height: 1
		+box
		+transition(all .2s ease-in-out)
		&:hover
			color: $blue
			border-bottom: 5px solid $blue
		&:active
			color: $blue
			border-bottom: 2px solid $blue

// nav
.nav
	+clr
	margin-bottom: 20px
	ul
		float: left
		width: 160px
		margin-left: 40px
		&:first-child
			margin-left: 0
	li
		text-transform: uppercase
		border-bottom: 1px solid $grey
		height: 31px
		line-height: 31px
		+box
		+transition(border .2s ease-in-out)
		+pfbeausanspro
		&:hover, &.is-active
			border-bottom: 3px solid $dblue
		&:active
			border-bottom: 3px solid $blue
		&:first-child
			border-top: 1px solid $grey
		a
			color: $dblue
			text-decoration: none
			display: block

.clr
	+clr

// social
.social
	+clr
	li
		float: left
		margin-left: 20px
		&:first-child
			margin-left: 0
	a
		position: relative
		display: inline-block
		vertical-align: middle
		line-height: 1
		+hidetext
		&:hover
			span
				opacity: 1
	span
		+transition(opacity .3s ease-in-out)
		opacity: 0
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		content: ""
	.vk
		a
			+s(vk)
			span
				+s(vk-h)
	.facebook
		a
			+s(fb)
			span
				+s(fb-h)

	&.social_mod
		a
			span
				opacity: 0
			&:hover
				span
					opacity: 1
		.vk
			a
				+s(vk-w)
				span
					+s(vk-w-h)
		.facebook
			a
				+s(fb-w)
				span
					+s(fb-w-h)

// wholepage wrapper
.out
	+opacity(1)
	+transition(opacity 1s ease)
	&.is-loading
		+opacity(0)

// story
.story
	padding: 30px 0 45px
	border-top: 2px solid $dblue
	text-align: center
	.story__note
		+sub
		p
			margin-bottom: 0.5em

// leading
.leading
	padding: 50px 0 70px
	background: $dblue
	color: $white
	text-align: center
	.leading__title
		margin-bottom: .5em
	p
		+sub

// clients
.clients
	padding-top: 55px
	text-align: center
	.clients__heading
		margin-bottom: 35px
	.clients__items
		ul
			+clr
			border-top: 1px solid #e2e2e2
		li
			float: left
			overflow: hidden
			width: 16.6%
			height: 110px
			line-height: 110px
			+box
			border-left: 1px solid #e2e2e2
			text-align: center
			&:first-child
				border-left: none
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%

// production
.production
	height: 640px
	background: $dblue url(../img/video.jpg) no-repeat
	background-position: top center
	background-attachment: fixed
	+cover
	color: $white
	+sub
	.production__content
		padding-top: 165px
		text-align: center
	.production__title
		// +h
		margin-bottom: 0.5em
	p
		margin-bottom: 30px

// testing
.testing
	position: relative
	height: 495px
	border-top: 2px solid $dblue
	background: url(../img/testing-bg.jpg) no-repeat
	+cover
	.container
	.testing-bg
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -195px
		img
			display: block
	.testing__main
		position: relative
		text-transform: uppercase
		font-size: 11px
		width: 370px
		padding-top: 65px
		text-align: left
		z-index: 1
		p
			margin-bottom: 1em
	.testing__lead
		margin: 25px 0
		padding: 5px 0
		+sub
		h3
			margin-bottom: 0.3em
		p
			margin-bottom: 0
	.testing__corporate
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 370px
		background-color: $dblue
		padding: 0 45px
		color: $white
		+box
	.testing__corporate-content
		position: absolute
		bottom: 0
		left: 45px
		width: 280px
		margin-bottom: 40px
		p
			+vp31
			font-size: 14px
			margin-bottom: 1em
	.testing__corporate-title
		margin-bottom: 1em

// show
.show
	padding-bottom: 140px
	background: #fff url("../img/zig-grey.png") repeat-x 0 100%

// justify
.justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
	.justify__child
		text-align: center
		display: inline-block
		line-height: normal
		vertical-align: top
		font-size: 14px

// chevron
.chevron
	position: absolute
	top: -27px
	left: 50%
	margin-left: -27px
	width: 54px
	height: 54px
	background-color: $dblue
	+border-radius(50%)
	content: ""
	cursor: pointer
	&:before
		position: absolute
		+s(chevron)
		top: 50%
		margin-top: -6.5px
		left: 50%
		margin-left: -12.5px
		content: ""

// slider
.slider
	.slider__menu
		overflow: hidden
		height: 195px
		line-height: 195px
		margin-bottom: 45px
		text-align: center
		li
			position: relative
			display: inline-block
			vertical-align: middle
			text-align: center
			line-height: 1
			width: 20%
			padding: 1px
			+box
			+pfbeausanspro
			font-size: 10px
			text-transform: uppercase
			cursor: pointer
			&:last-child
				.slider__menu-holder
					&:after
						right: 100%
						left: auto
			&.is-active
				.slider__thumb
					margin-top: -1px
					width: 169px
					height: 169px
					border: 10px solid #fff
					&:before
						display: none !important
					img
						width: 146px
						height: 146px
						border: 2px solid #c5d7e3
				.slider__text
					position: absolute
					left: 0
					right: 0
					text-align: center
					bottom: -200px
					opacity: 0
			&:hover
				.slider__thumb
					&:before
						background: #66cdef
	.slider__thumb
		margin-top: 1px
		+transition(all .2s linear)
		position: relative
		width: 84px
		height: 84px
		border: 4px solid #fff
		margin-left: auto
		margin-right: auto
		+border-radius(50%)
		+box-shadow(0px 0px 1px 1px #c5d7e3)
		+box
		z-index: 101
		background: #FFF
		&:before
			position: absolute
			display: block
			top: 0
			left: 0
			width: 100%
			height: 100%
			+transition(all .2s linear)
			background: #023F84
			+opacity(.6)
			content: ""
			+border-radius(50%)
			z-index: 100
		img
			+transition(all .2s linear)
			position: relative
			width: 75px
			height: 75px
			display: block
			margin-left: auto
			margin-right: auto
			+border-radius(50%)
			+box
	.slider__menu-holder
		position: relative
		display: inline-block
		&:after
			position: absolute
			top: 50%
			width: 200px
			margin-top: -1px
			height: 2px
			left: 100%
			background: #d5e6f2
			content: ""
			z-index: -1
	.slider__text
		+transition(all .2s linear)
		position: absolute
		top: 100%
		padding-top: 10px
		left: 0
		right: 0
		text-align: center
	.slider__nav
		li
			position: absolute
			top: 50%
			margin-top: -25px
			z-index: 101
			&:hover
				margin-top: -32px
	.slider__prev
		left: 0
	.slider__next
		right: 0
	.slider__content
		position: relative
		+transition(opacity .2s linear)
	.slider__item
		display: block
		width: 100%
		text-align: center
		padding: 0 215px
		+box
		p
			+vp31
			font-size: 14px
			line-height: 1.6

// awards
.awards
	padding-top: 40px
	padding-bottom: 50px
	background: url("../img/zig-grey.png") repeat-x 0 100%
	.title
		margin-bottom: 2em
	.awards__list
		text-align: center
		font-size: 0
		li
			display: inline-block
			vertical-align: top
			font-size: 14px
			margin: 0 25px
			&.certificate
				width: 202px
				height: 268px
				background: #fff url(../img/border.png) no-repeat
				+box
				line-height: 268px
				text-align: center
				img
					display: inline-block
					vertical-align: middle
					-ms-filter:  none
					filter: none

			img
				display: block
				margin-left: auto
				margin-right: auto
				background: transparent
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)
				zoom: 1

.price
	padding-top: 40px
	padding-bottom: 75px
	text-align: center
	+vp31
	font-size: 14px
	p
		line-height: 1.6
	.price__title
		+h-border
		font-size: 18px

// links
.link
	color: #00bcf3
	text-decoration: none
	border-bottom: 3px solid transparent
	+transition(all .2s linear)
	&:hover
		color: $dblue
		text-decoration: none
		border-bottom: 3px solid $dblue



.testing-alt
	position: relative
	background: $dblue
	color: $white
	text-align: center
	padding-top: 40px
	padding-bottom: 40px
	font-size: 14px
	min-height: 350px
	p
		+vp31
		margin-bottom: 2em
	&:after
		content: none
	.h-sub
		margin-bottom: 1em
	.testing-alt__corporate-btn
		position: absolute
		right: 0px
		bottom: 50%
		margin-bottom: -125px
		right: -180px
		+rotate(-90)
		width: 250px
		padding-left: 0
		padding-right: 0
		+box
		-webkit-transform-origin: 0 0
		-moz-transform-origin: 0 0
		-ms-transform-origin: 0 0
		-o-transform-origin: 0 0
		transform-origin: 0 0



.composition
	padding-top: 65px
	padding-bottom: 90px
	background: url("../img/zig-grey.png") repeat-x 0 100%
	text-align: center
	.container
		max-width: 845px
	.title
		margin-bottom: 45px

	.composition__content
		position: relative
		display: inline-block
		margin-bottom: 80px
		width: 100%
	.composition__left
		.composition__element
			left: 0
			text-align: left
	.composition__right
		.composition__element
			right: 0
			text-align: right
	.composition__element
		position: absolute
		color: $blue
		width: 250px
		&.composition__element_mod
			width: 250px
			text-align: left
			&.iodium
				left: 10%
			&.fluorum
				right: 10%
			.composition__symbol
				border-bottom: 2px solid $dblue
				&:before
					content: none
		&.natrium
			top: -5px
			width: 200px
			.composition__symbol
				&:before
					left: 177px
					bottom: -57px
					+rotate(45)
		&.calcium
			top: 220px
			text-align: left
			width: 200px
			.composition__symbol
				&:before
					left: 100%
					+rotate(-45)
					left: 177px
					bottom: 55px
		&.bicarbonate
			top: -30px
			.composition__symbol
				&:before
					right: 226px
					bottom: -57px
					+rotate(-45)
		&.kalium
			top: 110px
		&.magnesium
			top: 225px
			.composition__symbol
				&:before
					right: 226px
					bottom: 55px
					+rotate(45)
	.composition__symbol
		position: relative
		font-size: 48px
		border-bottom: 1px solid #d7e3ec
		line-height: 1
		&:before
			position: absolute
			bottom: -1px
			right: 100%
			content: ""
			height: 1px
			width: 160px
			background: #d7e3ec
		span
			text-transform: uppercase
			display: inline-block
			margin-left: 5px
			color: $dblue
			+pfbeausanspro
			font-size: 10px
	.i-bicarbon
		display: inline-block
		vertical-align: top
		+s(bicarbon)
		margin-bottom: 10px
	.composition__description
		margin-top: 10px
		font-size: 14px
		+vp31
		color: $dblue
	.composition__name
		display: inline-block
		margin-right: 20px
		color: $blue
	.composition__image
		position: relative
		z-index: 10
		height: 350px
		img
			display: block
			margin-left: auto
			margin-right: auto

.header_action
	background: url(../img/bg-gr.jpg)
	+cover
.header_corporative
	background: url(../img/bg-corp.jpg)
	+cover


.article-list__item
	figure
		margin-bottom: 25px
		img
			display: block
			max-width: 100%
.article_mod
	&:before
		content: none

.clients_mod
	.clients__items
		ul
			&:last-child
				border-bottom: 1px solid #e2e2e2


.stats
	padding-top: 15px
	padding-bottom: 60px


.why
	position: relative
	padding: 40px 0
.why__number
	font-size: 48px
	&:after
		background: #FFF
		margin: 15px 0
.why__item
	width: 28%
	margin-bottom: 40px
	vertical-align: middle !important
	p
		text-align: left
		+vp31
.why__item_mod
	width: 36.5%
	p
		text-transform: uppercase
		font-size: 12px
		+pfbeausanspro
		+box
		border: 2px solid #fff
		padding: 10%
		line-height: 1.6
		text-align: center
		&:before
			display: block
			content: ""
			+s(cw-w)
			margin-left: auto
			margin-right: auto
			margin-bottom: 20px



.offers
	padding: 45px 0
.offers__content
.offers__tabs
	margin-top: 20px
	margin-bottom: 35px
	li
		display: inline-block
		text-transform: uppercase
		+pfbeausanspro
		font-size: 12px
		padding: 0 20px
		&.is-active, &:hover
			a
				color: $blue
	a
		color: $dblue
		text-decoration: none
.offers__items
.offers__list
	li
		width: 28.1%
		margin-bottom: 45px
	.h-line_left
		text-align: left
		font-size: 18px
		text-transform: none
		&:after
			width: 100%
.offers__text
	text-align: left
	+vp31
	font-size: 14px
	p
		margin-bottom: 1em
		&.marked
			color: $blue
			text-transform: uppercase
			+pfbeausanspro
			small
				display: block
				text-transform: lowercase
				+vp31
.offers__note
	font-size: 18px
	+vp31


.service-activities
	padding: 60px 0 0
	+vp31
	font-size: 14px
	p
		margin-bottom: 2em

.request
	position: relative
	background: $dblue
	color: $white
	text-align: center
	padding: 40px 0
	&:before
		display: block
		position: absolute
		top: -5px
		left: 0
		width: 100%
		height: 12px
		background: url(../img/zig-blue.png) repeat-x
		content: ""
	&:after
		display: block
		position: absolute
		bottom: -5px
		left: 0
		width: 100%
		height: 12px
		background: url(../img/zig-blue.png) repeat-x
		content: ""
.request__form
	margin-top: 20px
	width: 365px
	margin-left: auto
	margin-right: auto

.input
	display: block
	width: 100%
	zoom: 1
	position: relative
	z-index: 1000
	+box
	margin-bottom: 10px
	height: 38px
	background: #fff
	border: 1px solid #fff
	text-align: center
	padding: 10px
	+placeholder-color(#fff)
	text-transform: uppercase
	color: #fff
	+vp
	font-size: 11px
	&:focus
		+placeholder-color(transparent)
	&.input-dark
		border: 1px solid #c5d7e3
		color: #a8bcca
		+placeholder-color(#a8bcca)
		&:focus
			+placeholder-color(transparent)


.textarea
	display: block
	width: 100%
	+box
	border: 1px solid #c5d7e3
	color: #a8bcca
	padding: 10px
	height: 70px
	resize: none
	+placeholder-color(#a8bcca)
	text-align: center
	margin-bottom: 10px
	text-transform: uppercase
	+vp
	font-size: 11px
	&:focus
		+placeholder-color(transparent)

.form-row
	text-align: center

.lteie8
	.checkbox
		input
			+opacity(1)
			background: #fff
		i
			display: none
.checkbox
	padding-left: 28px
	display: inline-block
	margin-bottom: 10px
	position: relative
	height: 17px
	line-height: 17px
	text-transform: uppercase
	+vp
	font-size: 11px
	color: #a8bcca
	input
		opacity: 0
		width: 18px
		height: 17px
	i
		width: 18px
		height: 17px
	input, i
		position: absolute
		top: 0
		left: 0
		+s(uncheck)
	input:checked + i:after
		content: ""
		position: absolute
		top: -3px
		left: 0
		+s(check)



.popup
	position: fixed
	// top: 200px
	left: 50%
	margin-left: -183px
	background: #fff
	padding: 20px 25px
	+box
	width: 367px
	// z-index: -1
	opacity: 0
	top: -1000px
	+transition(all .2s linear)
	&.is-open
		position: fixed
		z-index: 1030
		top: 100px
		+opacity(1)
.popup__title
	color: $blue
	text-align: center
	margin-bottom: 15px
.unit-wrap
	position: relative
.unit-pager
	position: fixed
	top: 165px
	right: -45px
	z-index: 1010
	+transition(all .3s ease-in)
	opacity: 0
	&.is-visible
		opacity: 1
		right: 45px
	li
		position: relative
		display: block
		width: 30px
		height: 30px
		line-height: 26px
		+box
		+pfbeausanspro
		font-size: 10px
		background: rgba(#fff, 1)
		+border-radius(50%)
		border: 2px solid rgba($dblue, 1)
		text-align: center
		color: $dblue
		margin-bottom: 40px
		&:before
			height: 40px
			width: 1px
			background: $dblue
			position: absolute
			bottom: 100%
			left: 50%
			margin-left: -1px
			margin-bottom: 2px
			+box-shadow(1px 0px 0px 0px rgba(#fff, .6))
			content: ""
		&:first-child
			&:before
				content: none
		&:last-child
			margin-bottom: 0
		&.is-active
			color: #fff
			border: 2px solid rgba(#fff, 1)
			background: $dblue
			a
				color: #fff
	a
		display: block
		text-decoration: none
		color: $dblue	



.tab
	overflow: hidden
.tab__item
	// float: left
	// margin: 0 5px 0
.tab__link
	// display: block
	// padding: 10px 20px
	// background: #ccc
	// color: #000
	// text-decoration: none
	&.is-active
		// background: #aaa
.tab-cont
	// margin: 5px 0
	// padding: 20px
	// border: 1px solid #000



.popup-video
	position: fixed
	top: 50%
	left: 50%
	right: 50%
	bottom: 50% 
	background: #000 
	opacity: 0
	visibility: hidden
	+tr(all .2s linear)
	z-index: 9999
	&.is-open
		visibility: visible
		top: 0
		left: 0
		right: 0
		bottom: 0
		opacity: 1 

.popup-video__close
	position: absolute
	top: 20px
	right: 20px
	width: 50px
	height: 50px
	border-radius: 50%
	background: #083273 
	border: 1px solid #fff
	font-size: 0
	z-index: 100
	i
		display: inline-block
		+s(close)
		vertical-align: middle 


.popup-video__el
	position: absolute
	top: 60px
	left: 120px
	right: 120px
	bottom: 60px
	z-index: 10 

.player
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0


.js-play-foripad
	display: none

.article_essential
	width: 595px
	margin-left: auto
	margin-right: auto
	text-align: center
	margin-top: 65px
	padding-bottom: 0 !important
	margin-bottom: 0
	.btn
		margin-top: 40px
.essentials
	li
		display: inline-block
		margin-left: 70px
		&:first-child
			margin-left: 0
