// production

.header_production
	background: $white url("../img/production-bg.jpg") no-repeat
	+cover
.header_dark
	.logo
		+s(logo-white)
	.language
		a
			color: $white
			&:hover
				color: $blue
			&:active, &.is-active
				color: $blue
	.header__tel
		margin-bottom: 10px
		a
			color: $white
.narrow
	position: relative
	max-width: 858px
	margin: 0 auto
	text-align: center
.preview
	h2
		+h
		color: $white
.preview__text
	position: relative
	padding: 76px 0 28px
	+vp_b 
	color: $white
	text-transform: uppercase
	line-height: 1.6  
	&:before
		content: ""
		position: absolute
		top: 17px
		left: 50%
		margin-left: -28px
		+s(drop)
.header-trigger
	float: right
	font-size: 0
	padding-top: 4px 
	span
		font-size: 11px
		line-height: 27px
		vertical-align: middle
		color: $white
		text-transform: uppercase
	i
		display: inline-block
		vertical-align: middle
		margin-left: 15px 
		+s(nav-white)
		cursor: pointer
.article
	padding-bottom: 50px 		
.article-list
	+clr
	margin-left: -8.333%
	padding-top: 40px 
.article-list__item
	float: left
	width: 25%
	margin-left: 8.333%
.h-line
	+sub
	font-size: 18px
	&:after
		display: block
		width: 145px
		height: 2px
		content: ""
		margin: 2em auto
		background: $dblue
.h-line_left
	&:after
		display: block
		width: 145px
		height: 2px
		content: ""
		margin: 2em 0
		background: $dblue
.article-list__content
	font-size: 14px
	color: $dblue
	+vp31
	line-height: 1.6
.watch-about
	background: url(../img/zig-blue.png) 0 50% repeat-x 
.watch-about__inner
	text-align: center
	.play-btn
		display: inline-block
		margin: 0 11px 
.watch-about__title
	display: inline-block
	vertical-align: top
	text-transform: uppercase
	padding-top: 25px 
.play-btn_blue
	background: $dblue
	border: 2px solid $dblue
.invitation
	padding: 32px 0 62px
.invitation__title	
	+vp31 
	font-size: 32px
.invitation__content
	margin: 25px 0 30px
	text-transform: uppercase
	+vp_b
	line-height: 1.6
	
// about
.header_about
	background: $white url("../img/about-bg.jpg") no-repeat
	+cover
.story_mod
	padding: 0px 0 45px
	border-top: none
.innovation
	padding-bottom: 75px 	
.inno__topper
	height: 230px
	background: $dblue
	text-align: center
	padding-top: 50px
	color: $white
.h-slim
	font-size: 36px
	+vp31
.inno__sub-title
	padding-top: 15px 
	text-transform: uppercase
	+vp_b
.inno__content
	margin-top: -84px 		
.inno-item
	width: 16%
	text-align: center 
.inno-item__img
	display: inline-block
	width: 169px
	height: 169px
	padding: 10px
	margin-bottom: 20px 
	+border-radius(50%)
	+box
	border: 1px solid #c5d7e3  
.inno-item__img-inner
	height: 100% 
	+border-radius(50%)
	border: 1px solid #c5d7e3
	overflow: hidden
	+box
	img
		width: 100%
		height: 100%
		+border-radius(50%)
.inno-item__text
	+vp_b
	font-size: 12px
	line-height: 1.6
	text-transform: uppercase
.slider__menu2
	display: table
	width: 100%
	margin-bottom: 42px
	& > div  
		display: table-cell
		text-align: center
.slider__menu-item
	position: relative
	&:first-child
		.slider__menu-line
			position: absolute
			width: 50%
			right: 0
			top: 0
	&:last-child
		.slider__menu-line
			position: absolute
			width: 50%
			left: 0
			top: 0	  		
.slider__menu-line
	position: relative
	height: 2px
	background: $dblue
	margin: 14px 0 26px
.slider__menu-round
	position: absolute
	top: 0px
	left: 50%
	margin-left: -15px
	width: 30px
	height: 30px
	+border-radius(50%)
	+box
	border: 2px solid $dblue
	background: $white
	z-index: 2
	cursor: pointer
	+transition(background .2s linear)
.slider__menu-item.is-active
	.slider__menu-round
		background: $dblue
.slider-chronology
	.h-slim
		text-align: center
	.slider
		margin: 40px 0 75px			 	   	
